*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
  padding:2% 12%;
}
.frame1
{
    width:90%;
    background-color:grey;
    height:24vh;
    padding-left:45%
}
.frame2
{
    width:90%;
    height:1.9em;
    background-color: white;
}
.frame3
{
    width:90%;
    height: 1.9em;
    background-color: grey;
}

.name
{
    position: relative;
    right:1em;
    top: 0em;
    background-color: #F4BC1C;
    font-size: 1.9em;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    height: 3.5em;
    width:4em;
    padding: 1em;
    padding-top: 1.5rem;
    padding-right: 6em;
    padding-left: 2em;
    border-radius: 2em ;
    -webkit-border-radius: 10px;
}
.details
{
    font-size: 1.5em;
    font-family: 'Lora', serif;
    color: grey;
    text-align: center;;
}

header hr{
    border:0.1rem solid black;
    width: 90.4em;
}    

  .bodyHalf1{
    width:49%;
    display: inline;
    float: left;
    padding: 10px 20px;
    box-sizing: border-box;
    height: auto;
  }
   .bodyHalf2{
    width: 1%;
    display: inline;
    float: left;
    padding-top: 10px;
  }
  
  .v1{
    border-left: 2px solid #cacaca;
    height: 80vh;
    box-sizing: border-box;
  }
  
  .bodyHalf3{
    width:49%;
    display: inline;
    float: left;
    padding: 10px 20px;
    box-sizing: border-box;
    height: auto;
  }
  .Style1{
    display: inline-block; text-align: left; width:49%;
  }
  
  .Style2{
    display: inline-block; text-align: right; width:49%;
  }
  
  .subhead1{
    width: 100%;
    padding: 0.6rem 0 0.2rem 0;
  }
  
  .subheading{
    display: inline-block;
    font-size: 30px;
  }
  
  
  
  .skillsTable{
    width: 100%;
  }
  
  .skillsTable td {
    width: 49%;
  }
  
  .skillsTable input {
    width: 100%;
  }
  
  
  .Image{
    background-image: url("briandudey.jpg");
    background-size: 170px 170px;
    background-repeat: no-repeat;
    border-radius: 90px;
    width: 170px;
    height: 170px;
    position: relative;
    top: 1rem;
    border: 5px dotted #F8BE27;
    padding: 1px;
    -webkit-border-radius: 100px;
  }
  .iconColor{
    color: #F8BE27;
  }

  .headingTitle{
    display: inline-block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #767676;
    padding-left: 10px;
  }